 /* ThemeColor One */
.moverspackers-color,.moverspackers-colorhover:hover,.moverspackers-services-text i,.moverspackers-process-list ul li i,.moverspackers-prev-post h6 a,
.moverspackers-process-list ul li:before,.moverspackers-twitter-layer h5,.moverspackers-twitter-layer p,.moverspackers-next-post h6 a,
.moverspackers-twitter-layer p a,.widget-popular-post-text h6 a,.widget_popular_post figure a i,.widget_instagram figure a i,
.moverspackers-blog-grid .slick-arrow:hover,.moverspackers-blog-large .slick-arrow:hover,.moverspackers-blog-large .moverspackers-blog-option li,
.moverspackers-experience-text h6,.moverspackers-priceplan-heading h5,.moverspackers-aboutus-heading,.moverspackers-aboutus-heading small,
.moverspackers-aboutus h5,.moverspackers-liststyle-two li,.moverspackers-contact-info span i,.moverspackers-coomingsoon form input[type="submit"] {
    color: #272b3d;
}
.moverspackers-bgcolor,.moverspackers-bgcolorhover:hover,.moverspackers-services ul li:hover .moverspackers-services-text,.moverspackers-blog-classic figure a i,
.moverspackers-blog-classic figure a:before,.moverspackers-blog figure time,.moverspackers-process-list ul li:hover span,.moverspackers-prenxt-post figure a:before,
.testimonial-transparent:before,.moverspackers-services-grid figure > a:before,.footer-widget-transparent,.moverspackers-footer-contact-text,
.moverspackers-blog-thumb time,.moverspackers-thumb-heading,blockquote,.moverspackers-tags a:hover,.moverspackers-blog-grid figure a:before,
.moverspackers-blog-grid figure a i,.moverspackers-pagination > ul > li:hover > .previous,.moverspackers-pagination > ul > li:hover > .next,
.moverspackers-blog-large figure a:before,.moverspackers-blog-large figure a i,.moverspackers-team-list figure > a:before,
.moverspackers-team-list figure figcaption,.moverspackers-project-info,.moverspackers-project-grid figure > a:before,.moverspackers-simple-btn:hover,
.moverspackers-project-list figure a:before,.moverspackers-priceplan ul li:hover .moverspackers-priceplan-heading h5,.coomingsoon-transparent,
.moverspackers-dropdown-menu li:hover a,.moverspackers-dropdown-menu li > .moverspackers-dropdown-menu li:hover a,
.moverspackers-about-service li span:before,.counter-transparent,.moverspackers-contact-info-text,.moverspakers-error-btn,
.moverspakers-faq-accordion .panel-title > .collapsed {
    background-color: #272b3d;
}
.moverspackers-bordercolor,.moverspackers-bordercolorhover:hover,.moverspackers-services-text i,.moverspackers-process-list ul li span,
.moverspackers-tags a:hover,.moverspackers-pagination > ul > li:hover > .previous,.moverspackers-pagination > ul > li:hover > .next,
.moverspakers-error-btn {
    border-color: #272b3d;
}
.moverspackers-modern-team figure figcaption:after {
	border-bottom-color: #272b3d;
}
.moverspackers-blog-option:before,.moverspackers-priceplan-wrap:before {
	border-top-color: #272b3d;
}


/*Color Two*/
.moverspackers-strip-info li i,.moverspackers-fancy-title h2 > span,.moverspackers-services-grid figure figcaption > a,.moverspackers-footer-contact-text i,
.moverspackers-footer-contact-text i,.widget_links ul li:hover a,.moverspackers-prenxt-post ul li:hover .moverspackers-next-post h6 a,.comment-reply-link:hover,
.moverspackers-prenxt-post ul li:hover .moverspackers-prev-post h6 a,.moverspackers-blog-grid .moverspackers-blog-option li a:hover,.moverspackers-team-social li:hover a,
.moverspackers-pagination > ul > li > a:hover,.moverspackers-pagination > ul > li > span.current,.moverspackers-blog-large .moverspackers-blog-option li a:hover,
.moverspackers-services-classic i,.moverspackers-priceplan ul li:hover .moverspackers-priceplan-heading h5,.moverspackers-aboutus-heading span,
.moverspackers-liststyle-two li i,.moverspackers-counter ul li i,.moverspackers-coomingsoon h2 span,.moverspakers-error-text h1,
.moverspackers-banner-text h1 span {
    color: #770e13;
}
.navbar-nav > li > a:before,.navbar-nav > li > a:after,.moverspackers-simple-btn,.moverspackers-classic-btn:hover,.moverspackers-blog ul li:hover .moverspackers-readmore-btn,
.moverspackers-services ul li:hover .moverspackers-services-text i,.moverspackers-blog-classic ul li:hover figure a:before,.twitter-slide-transparent,
.moverspackers-process-list ul li span a,.moverspackers-testimonial .slick-dots li.slick-active button,.moverspackers-footer-title:before,.moverspackers-footer-title:after,
.widget_links ul li:hover a:before,.widget_newsletter form input[type="submit"]:hover,.moverspackers-section-heading:before,.moverspackers-section-heading:after,
.comment-respond form p input[type="submit"]:hover,.widget_search form input[type="submit"]:hover,.moverspackers-widget-heading:before,.moverspackers-widget-heading:after,
.widget_popular_post figure a:before,.widget_cetagories ul li:hover a,.widget_instagram figure a:before,.moverspackers-blog-grid ul li:hover figure a:before,
.moverspackers-blog-grid .slick-arrow:hover,.moverspackers-blog-large ul li:hover figure a:before,.moverspackers-blog-large .slick-arrow:hover,
.moverspackers-work-experience ul li:hover i,.moverspackers-project-filterable ul li a:before,.moverspackers-project-filterable ul li a:after,
.moverspackers-project-list ul li:hover .moverspackers-readmore-btn,.moverspackers-priceplan-heading h5,.moverspackers-quote-form ul li input[type="submit"]:hover,
.moverspackers-contact-info span:before,.moverspackers-coomingsoon form input[type="submit"],.moverspackers-get-quote-form ul li input[type="submit"]:hover,
.moverspackers-contact-form ul li input[type="submit"]:hover,.moverspakers-error-btn:hover,.moverspakers-search-text form input[type="submit"]:hover,
.moverspakers-faq-accordion .panel-title > a {
    background-color: #770e13;
}
.moverspackers-classic-btn:hover,.moverspackers-services ul li:hover .moverspackers-services-text i,.moverspackers-testimonial .slick-dots li.slick-active button,
.moverspackers-blog ul li:hover .moverspackers-readmore-btn,.widget_newsletter form input[type="submit"]:hover,.comment-respond form p input[type="submit"]:hover,
.moverspackers-pagination > ul > li > a:hover,.moverspackers-pagination > ul > li > span.current,.moverspackers-project-list ul li:hover .moverspackers-readmore-btn,
.moverspackers-about-service li span:before,.moverspackers-quote-form ul li input[type="submit"]:hover,.moverspackers-get-quote-form ul li input[type="submit"]:hover,
.moverspackers-contact-form ul li input[type="submit"]:hover,.moverspakers-error-btn:hover {
    border-color: #770e13;
}
.moverspackers-main-header,.moverspackers-blog figure time,.moverspackers-blog figure time:after,.moverspackers-blog-option,
.moverspackers-modern-team figure figcaption,.moverspackers-blog-thumb time:after,.moverspackers-blog-thumb time,.moverspackers-thumb-heading {
	border-bottom-color: #770e13;
}
blockquote {
	border-left-color: #770e13;
}
.moverspackers-priceplan ul li:hover .moverspackers-priceplan-wrap:before {
    border-top-color: #770e13;
}
.moverspackers-twitter-layer p,.moverspackers-twitter-layer h5,.moverspackers-twitter-layer p a,.moverspackers-twitter-layer time
{
	color:white;
}